{% extends "index.js" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div style="width:100%;">
  <div style="float:left;">
    <div class="chart" id="graph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('graph',graphs,{});
    </script>
  </div>
  </div>
    <div style="float:left;">
      <p style="margin-left: 20px"><b> Address: </b>{{result.address}}</p>
      <p style="margin-left: 20px"><b> Cluster Label: </b>{{result.user}}</p>
      <p style="margin-left: 20px"><b> version: </b>{{result.version}}</p>
    <div>
</div>
{% endblock %}