{% extends "index.js" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

	<div style="float:left;width:100%">
		<div class="container" style="float:left;width:100%">
		<div class="led-box" style="float:left; height: 30px;width: 20%;margin: 10px 0;">
	    <div class="led-green" style="margin: 0 auto;width: 24px;height: 24px;background-color: #00FF00;border-radius: 50%;box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, rgba(255, 255, 0, 0.5) 0 2px 12px;">
	    </div></div>
	    <div style="width: 75%;height: 30px;margin: 10px 0;">
	    <p style="float:left"><b> Address: </b>{{address}}</p>
	   </div>
	  </div>

	  	<div class="container" style="float:left;width:100%">
		<div class="led-box" style="float:left; height: 30px;width: 20%;margin: 10px 0;">
	    <div class="led-green" style="margin: 0 auto;width: 24px;height: 24px;background-color: #00FF00;border-radius: 50%;box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, rgba(255, 255, 0, 0.5) 0 2px 12px;">
	    </div></div>
	    <div style="width: 75%;height: 30px;margin: 10px 0;">
	      <p style="margin-left: 20px"><b> Class: </b>{{tag.actor_type}}</p>
	   </div>
	  </div>

	  		<div class="container" style="float:left;width:100%">
		<div class="led-box" style="float:left; height: 30px;width: 20%;margin: 10px 0;">
	    <div class="led-green" style="margin: 0 auto;width: 24px;height: 24px;background-color: #00FF00;border-radius: 50%;box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, rgba(255, 255, 0, 0.5) 0 2px 12px;">
	    </div></div>
	    <div style="width: 75%;height: 30px;margin: 10px 0;">
	      <p style="margin-left: 20px"><b> Currency: </b>{{tag.currency}}</p>
	   </div>
	  </div>

	  	<div class="container" style="float:left;width:100%">
		<div class="led-box" style="float:left; height: 30px;width: 20%;margin: 10px 0;">
	    <div class="led-green" style="margin: 0 auto;width: 24px;height: 24px;background-color: #00FF00;border-radius: 50%;box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 12px;">
	    </div></div>
	    <div style="width: 75%;height: 30px;margin: 10px 0;">
	      <p style="margin-left: 20px"><b> Confidence %: </b>{{confidence}}</p>
	   </div>
	  </div>

	  		<div class="container" style="float:left;width:100%">
		<div class="led-box" style="float:left; height: 30px;width: 20%;margin: 10px 0;">
	    <div class="led-green" style="margin: 0 auto;width: 24px;height: 24px;background-color: #00FF00;border-radius: 50%;box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, rgba(255, 255, 0, 0.5) 0 2px 12px;">
	    </div></div>
	    <div style="width: 75%;height: 30px;margin: 10px 0;">
	      <p style="margin-left: 20px"><b> version: </b>{{version}}</p>
	   </div>
	  </div>

	  <div class="container" style="float:left;width:100%">
	  	{% if result =='True' %}
		<div class="led-box" style="float:left; height: 30px;width: 20%;margin: 10px 0;">
	    <div class="led-green" style="margin: 0 auto;width: 24px;height: 24px;background-color: #00FF00;border-radius: 50%;box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 12px;">
	    </div></div>
	    <div style="width: 75%;height: 30px;margin: 10px 0;">
	      <p style="margin-left: 20px"><b> Result: </b>True</p>
	   </div>
	    {% else %}
		<div class="led-box" style="float:left; height: 30px;width: 20%;margin: 10px 0;">
	    <div class="led-green" style="margin: 0 auto;width: 24px;height: 24px;background-color: #FF0000;border-radius: 50%;box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;">
	    </div></div>
	    <div style="width: 75%;height: 30px;margin: 10px 0;">
	      <p style="margin-left: 20px"><b> Result: </b>False</p>
	   </div>
	    {% endif %}
	    
	  </div>
	 </div>

{% endblock %} 