{% extends "index.js" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<div class="container">
 {% if result =='True' %} 
  <div class="led-box" style=" height: 30px;width: 25%;margin: 10px 0;float: left;">
    <div class="led-green" style="margin: 0 auto;width: 24px;height: 24px;background-color: #ABFF00;border-radius: 50%;box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;"></div>
    <p>True</p>
  </div>
  {% else %}
  <div class="led-box" style=" height: 30px;width: 25%;margin: 10px 0;float: left;" >
    <div class="led-red" style="margin: 0 auto;width: 24px;height: 24px;background-color: #F00;border-radius: 50%;box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;"></div>
    <p>False</p>
  </div>
</div>
 {% endif %}
{% endblock %} 